<head>
   <link rel="stylesheet" href="/css/nav.css">
</head>
<nav>
   <div class="logo">
      <img src="/images/logoimg.png" alt="">
   </div>
   <div class="ul-wrapper">
      <ul class="nav-ul">
         <li class="nav-list" style="margin-left:2rem">
            <a href="#" class="nav-links"><i class="fas fa-home"></i> Home</a>
         </li>
         <li class="nav-list">
            <a href="#" class="nav-links"><i class="far fa-id-badge"></i> Profile</a>
         </li>
         <li class="nav-list">
            <a href="#" class="nav-links"><i class="far fa-address-card"></i> About</a>
         </li>
         <li class="nav-list">
            <a href="#" class="nav-links"><i class="fas fa-bell"></i> Notification</a>
         </li>
         <li class="nav-list">
            <a href="#" class="nav-links"><i class="fas fa-sign-out-alt"></i> Logout</a>
         </li>
      </ul>
   </div>
</nav>
