<head>
    <link rel="stylesheet" href="/css/roadmap.css">
</head>

<div id="module" class="timeline">
    <!-- <div class="top-line"></div> -->
    <div class="timeline-container left">
    <i class="icon fas fa-lock-open"></i>
    <div class="extra">Tokens</div>
    <a href="/codearea">
    <div class="content">
        <h2>Hello ZeroWatts</h2>
        <p>
            Say Hello to the ZeroWatts world using Python.
        </p>
    </div>
    </a>
    </div>
    <div class="timeline-container right">
    <i class="icon fas fa-lock-open"></i>
    <div class="extra">If Else</div>
    <a href="/codearea">
        <div class="content">
            <h2>Traffic Signal</h2>
            <p>
                Display color name for corresponding number given.
            </p>
        </div>
    </a>
    </div>
    <div class="timeline-container left">
    <i class="icon fas fa-lock"></i>
    <div class="extra">List</div>
    <a href="/codearea">
        <div class="content">
            <h2>Traffic Signal</h2>
            <p>
                Display color name for corresponding number given.
            </p>
        </div>
    </a>
    </div>
    <div class="timeline-container right">
    <i class="icon fas fa-lock"></i>
    <div class="extra">Tuple</div>
    <a href="/codearea">
        <div class="content">
            <h2>Traffic Signal</h2>
            <p>
                Display color name for corresponding number given.
            </p>
        </div>
    </a>
    </div>
    <div class="timeline-container left">
    <i class="icon fas fa-lock"></i>
    <div class="extra">Loop</div>
    <a href="/codearea">
        <div class="content">
            <h2>Traffic Signal</h2>
            <p>
                Display color name for corresponding number given.
            </p>
        </div>
    </a>
    </div>
    <div class="timeline-container right">
    <i class="icon fas fa-lock"></i>
    <div class="extra">Loop</div>
    <a href="/codearea">
        <div class="content">
            <h2>Traffic Signal</h2>
            <p>
                Display color name for corresponding number given.
            </p>
        </div>
    </a>
    </div>
    <div class="bottom-line"></div>
</div>