<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/images/headlogo.png">
   <script src="https://kit.fontawesome.com/150475fcb8.js" crossorigin="anonymous"></script>
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Josefin Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet">

   <link rel="stylesheet" href="css/first.css">
    <title>ShopOnline</title>
  </head>
  <body>
    <div class="container">
      <input type="checkbox" class="checkbox" id="side-switch" name="" value="" hidden>
      <ul class="social-icons">
        <li class="social-list flex">
          <a href="#" class="social-links">
            <img src="/images/headlogo.png" alt="">
          </a>
          <h5>ShopOnline</h5>
        </li>
        <li class="social-list">
          <a href="#" class="social-links"><i class="fab fa-facebook-square social"></i></a>
        </li>
        <li class="social-list">
          <a href="#" class="social-links"><i class="fab fa-linkedin social"></i></a>
        </li>
        <li class="social-list">
          <a href="#" class="social-links"><i class="fab fa-instagram social"></i></a>
        </li>
        <li class="social-list">
          <a href="#" class="social-links"><i class="fab fa-twitter-square social"></i></a>
        </li>
      </ul>
      <nav class="first-nav">
        <ul class="first-nav-list">
          <li class="first-list">
            <label for="side-switch"><div class="hamburger">
            <div class="line line1"></div>
            <div class="line line2"></div>
            <div class="line line3"></div>
          </div></label></li>
            <li class="first-list">
            <input type="text" name="" value="" class="search-inp">
            <button type="button" name="button" class="search-btn">search</button>
            </li>
            <li class="first-list">
              <a href="#" class="first-link">
                <i class="fas fa-user-shield"> </i> Hello,Admin
              </a>
            </li>
            <li class="first-list">
              <a href="#" class="first-link">
                <i class="fas fa-shopping-cart"> </i> Cart(0 items)
              </a>
            </li>
        </ul>

      </nav>
      <ul class="side-bar">
        <li class="side-list">
          <a href="#" class="side-items">Mobiles</a>
          <div class="side-menu-bar">
            <ul class="mobile-items">
              <li class="mobile-liss">
                <h2  class="movile-link">Top Featured Brands</h2>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">Playstation</a>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">gaming headset</a>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">gear</a>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">desktops</a>
              </li>

            </ul>
          </div>
        </li>
        <li class="side-list">
          <a href="#" class="side-items">Mobiles</a>
          <div class="side-menu-bar">
            <ul class="mobile-items">
              <li class="mobile-liss">
                <h2  class="movile-link">Top Featured Brands</h2>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">Playstation</a>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">gaming headset</a>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">gear</a>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">desktops</a>
              </li>

            </ul>
          </div>
        </li>
        <li class="side-list">
          <a href="#" class="side-items">Mobiles</a>
          <div class="side-menu-bar">
            <ul class="mobile-items">
              <li class="mobile-liss">
                <h2  class="movile-link">Top Featured Brands</h2>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">Playstation</a>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">gaming headset</a>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">gear</a>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">desktops</a>
              </li>

            </ul>
          </div>
        </li>
        <li class="side-list">
          <a href="#" class="side-items">Mobiles</a>
          <div class="side-menu-bar">
            <ul class="mobile-items">
              <li class="mobile-liss">
                <h2  class="movile-link">Top Featured Brands</h2>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">Playstation</a>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">gaming headset</a>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">gear</a>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">desktops</a>
              </li>

            </ul>
          </div>
        </li>
        <li class="side-list">
          <a href="#" class="side-items">Mobiles</a>
          <div class="side-menu-bar">
            <ul class="mobile-items">
              <li class="mobile-liss">
                <h2  class="movile-link">Top Featured Brands</h2>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">Playstation</a>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">gaming headset</a>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">gear</a>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">desktops</a>
              </li>

            </ul>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
