<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/images/headlogo.png">
   <script src="https://kit.fontawesome.com/150475fcb8.js" crossorigin="anonymous"></script>
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Josefin Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet">

   <link rel="stylesheet" href="css/first.css">
    <title>ShopOnline</title>
  </head>
  <body>
    <div class="container">
      <input type="checkbox" class="checkbox" id="side-switch" name="" value="" hidden>
      <ul class="social-icons">
        <li class="social-list flex">
          <a href="#" class="social-links">
            <img src="/images/headlogo.png" alt="">
          </a>
          <h5>ShopOnline</h5>
        </li>
        <li class="social-list">
          <a href="#" class="social-links"><i class="fab fa-facebook-square social"></i></a>
        </li>
        <li class="social-list">
          <a href="#" class="social-links"><i class="fab fa-linkedin social"></i></a>
        </li>
        <li class="social-list">
          <a href="#" class="social-links"><i class="fab fa-instagram social"></i></a>
        </li>
        <li class="social-list">
          <a href="#" class="social-links"><i class="fab fa-twitter-square social"></i></a>
        </li>
      </ul>
      <nav class="first-nav">
        <ul class="first-nav-list">
          <li class="first-list">
            <label for="side-switch"><div class="hamburger">
            <div class="line line1"></div>
            <div class="line line2"></div>
            <div class="line line3"></div>
          </div></label></li>
            <li class="first-list">
            <input type="text" name="" value="" class="search-inp" placeholder="Search Products Here ...">
            <button type="button" name="button" class="search-btn">search</button>
            </li>
            <li class="first-list">
              <a href="#" class="first-link">
                <i class="fas fa-user-shield"> </i> Hello,Admin
              </a>
            </li>
            <li class="first-list">
              <a href="#" class="first-link">
                <i class="fas fa-shopping-cart"> </i> Cart(0 items)
              </a>
            </li>
        </ul>

      </nav>
      <ul class="side-bar">
        <li class="side-list">
          <a href="#" class="side-items">Mobiles</a>
          <div class="side-menu-bar">
            <ul class="mobile-items">
              <li class="mobile-liss">
                <h2  class="movile-link">Top Featured Brands</h2>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">Playstation</a>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">gaming headset</a>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">gear</a>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">desktops</a>
              </li>

            </ul>
          </div>
        </li>
        <li class="side-list">
          <a href="#" class="side-items">Mobiles</a>
          <div class="side-menu-bar">
            <ul class="mobile-items">
              <li class="mobile-liss">
                <h2  class="movile-link">Top Featured Brands</h2>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">Playstation</a>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">gaming headset</a>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">gear</a>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">desktops</a>
              </li>

            </ul>
          </div>
        </li>
        <li class="side-list">
          <a href="#" class="side-items">Mobiles</a>
          <div class="side-menu-bar">
            <ul class="mobile-items">
              <li class="mobile-liss">
                <h2  class="movile-link">Top Featured Brands</h2>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">Playstation</a>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">gaming headset</a>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">gear</a>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">desktops</a>
              </li>

            </ul>
          </div>
        </li>
        <li class="side-list">
          <a href="#" class="side-items">Mobiles</a>
          <div class="side-menu-bar">
            <ul class="mobile-items">
              <li class="mobile-liss">
                <h2  class="movile-link">Top Featured Brands</h2>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">Playstation</a>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">gaming headset</a>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">gear</a>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">desktops</a>
              </li>

            </ul>
          </div>
        </li>
        <li class="side-list">
          <a href="#" class="side-items">Mobiles</a>
          <div class="side-menu-bar">
            <ul class="mobile-items">
              <li class="mobile-liss">
                <h2  class="movile-link">Top Featured Brands</h2>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">Playstation</a>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">gaming headset</a>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">gear</a>
              </li>
              <li class="mobile-list">
                <a href="#" class="movile-links">desktops</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <section class="banner-slide">

          <div class="banner-text">
            <h1>Welcome To ShopOnline</h1>
            <p>A Plateform to buy an Electronic Gadgets</p>
            <a href="#shop">ShopNow <i class="fas fa-caret-down"></i></a>
          </div>
            <div class="slidshow">
              <div class="slideshow-wrapper">
                <div class="slide">
                  <img src="/images/ban.jpg" alt="">
                </div>
                <div class="slide">
                  <img src="/images/ban1.jpg" alt="">
                </div>
                <div class="slide">
                  <img src="/images/ban3.jpg" alt="">
                </div>
                <div class="slide">
                  <img src="/images/ban4.jpg" alt="">
                </div>
              </div>
            </div>
      </section>
<a href="#" name="shop"></a>
      <section class="top-three">
        <h1 class="common-heading">Top 3 Launches</h1>
      </section>
      <div class="card-wrapper">
        <div class="card">
          <img class="adjust" src="/images/samsung.png" alt="">
          <h1>samsung note 10</h1>
          <h2>RS: 72999(10% discount)</h2>
          <a href="#" class="shop">ShopNow <i class="fas fa-arrow-right"></i></a>
        </div>
        <div class="card center">
          <img  src="/images/product.png" alt="">
          <h1>samsung note 10</h1>
          <h2>RS: 72999(10% discount)</h2>
          <a href="#" class="shop">ShopNow <i class="fas fa-arrow-right"></i></a>
        </div>
        <div class="card">
          <img class="adjust" src="/images/samsung.png" alt="">
          <h1>samsung note 10</h1>
          <h2>RS: 72999(10% discount)</h2>
          <a href="#" class="shop">ShopNow <i class="fas fa-arrow-right"></i></a>
        </div>
      </div>

      <div class="product-slide">
        <h1 class="common-heading">Trending Products</h1>
        <button type="button" class="next" name="button"><i class="fas fa-chevron-right"></i></button>
        <button type="button" class="prev" name="button"><i class="fas fa-chevron-left"></i></button>
        <div class="product-slide-wrapper">
          <div class="product">
            <div class="product-card">
              <img src="/images/samsung.png" alt="">
              <h1>samsung note 10</h1>
              <h2>RS: 72999(10% discount)</h2>
              <a href="#" class="shop-now">ShopNow <i class="fas fa-arrow-right"></i></a>
            </div>
            <div class="product-card">
              <img src="/images/samsung.png" alt="">
              <h1>samsung note 10</h1>
              <h2>RS: 72999(10% discount)</h2>
              <a href="#" class="shop-now">ShopNow <i class="fas fa-arrow-right"></i></a>
            </div>
            <div class="product-card">
              <img src="/images/samsung.png" alt="">
              <h1>samsung note 10</h1>
              <h2>RS: 72999(10% discount)</h2>
              <a href="#" class="shop-now">ShopNow <i class="fas fa-arrow-right"></i></a>
            </div>
            <div class="product-card">
              <img src="/images/samsung.png" alt="">
              <h1>samsung note 10</h1>
              <h2>RS: 72999(10% discount)</h2>
              <a href="#" class="shop-now">ShopNow <i class="fas fa-arrow-right"></i></a>
            </div>
            <div class="product-card">
              <img src="/images/samsung.png" alt="">
              <h1>samsung note 10</h1>
              <h2>RS: 72999(10% discount)</h2>
              <a href="#" class="shop-now">ShopNow <i class="fas fa-arrow-right"></i></a>
            </div>
            <div class="product-card">
              <img src="/images/samsung.png" alt="">
              <h1>samsung note 10</h1>
              <h2>RS: 72999(10% discount)</h2>
              <a href="#" class="shop-now">ShopNow <i class="fas fa-arrow-right"></i></a>
            </div>
            <div class="product-card">
              <img src="/images/samsung.png" alt="">
              <h1>samsung note 10</h1>
              <h2>RS: 72999(10% discount)</h2>
              <a href="#" class="shop-now">ShopNow <i class="fas fa-arrow-right"></i></a>
            </div>
            <div class="product-card">
              <img src="/images/samsung.png" alt="">
              <h1>samsung note 10</h1>
              <h2>RS: 72999(10% discount)</h2>
              <a href="#" class="shop-now">ShopNow <i class="fas fa-arrow-right"></i></a>
            </div>
            <div class="product-card">
              <img src="/images/samsung.png" alt="">
              <h1>samsung note 10</h1>
              <h2>RS: 72999(10% discount)</h2>
              <a href="#" class="shop-now">ShopNow <i class="fas fa-arrow-right"></i></a>
            </div>
            <div class="product-card">
              <img src="/images/samsung.png" alt="">
              <h1>samsung note 10</h1>
              <h2>RS: 72999(10% discount)</h2>
              <a href="#" class="shop-now">ShopNow <i class="fas fa-arrow-right"></i></a>
            </div>
            <div class="product-card">
              <img src="/images/samsung.png" alt="">
              <h1>samsung note 10</h1>
              <h2>RS: 72999(10% discount)</h2>
              <a href="#" class="shop-now">ShopNow <i class="fas fa-arrow-right"></i></a>
            </div>
            <div class="product-card">
              <img src="/images/samsung.png" alt="">
              <h1>samsung note 10</h1>
              <h2>RS: 72999(10% discount)</h2>
              <a href="#" class="shop-now">ShopNow <i class="fas fa-arrow-right"></i></a>
            </div>
            <div class="product-card">
              <img src="/images/samsung.png" alt="">
              <h1>samsung note 10</h1>
              <h2>RS: 72999(10% discount)</h2>
              <a href="#" class="shop-now">ShopNow <i class="fas fa-arrow-right"></i></a>
            </div>
            <div class="product-card">
              <img src="/images/samsung.png" alt="">
              <h1>samsung note 10</h1>
              <h2>RS: 72999(10% discount)</h2>
              <a href="#" class="shop-now">ShopNow <i class="fas fa-arrow-right"></i></a>
            </div>
            <div class="product-card">
              <img src="/images/samsung.png" alt="">
              <h1>samsung note 10</h1>
              <h2>RS: 72999(10% discount)</h2>
              <a href="#" class="shop-now">ShopNow <i class="fas fa-arrow-right"></i></a>
            </div>
            <div class="product-card">
              <img src="/images/samsung.png" alt="">
              <h1>samsung note 10</h1>
              <h2>RS: 72999(10% discount)</h2>
              <a href="#" class="shop-now">ShopNow <i class="fas fa-arrow-right"></i></a>
            </div>
            <div class="product-card">
              <img src="/images/samsung.png" alt="">
              <h1>samsung note 10</h1>
              <h2>RS: 72999(10% discount)</h2>
              <a href="#" class="shop-now">ShopNow <i class="fas fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="view-more">
              <a href="#" class="more"> ViewMore <i class="fas fa-arrow-right"></i></a>
      </div>
      <h1 class="common-heading" style="margin-top:10rem;">Current Sales Offers</h1>
      <div class="offer-banner">

        <img src="/images/2651.jpg" class="banners" alt="">
        <img src="/images/sale.jpg" class="banners" alt="">
      </div>
      <div class="detials">
        <div class="small-card">
          <img src="/images/payment.png" alt="">
          <h2>100% Secure Payment</h2>
          <p>Your payment details are highly secured</p>
        </div>
        <div class="small-card">
          <img src="/images/trust.png" alt="" width="80px;">
          <h2>Trust Pay</h2>
          <p>Secure payment & return policy</p>
        </div>
        <div class="small-card">
          <img src="/images/help.png" alt="" width="80px;">
          <h2>Contact Service</h2>
          <p>24/7 help facilities, look our faQ's or leave queries</p>
        </div>
        <div class="small-card last">
          <img src="/images/account.png"  alt="" width="80px;" >
          <h2>Secure Details</h2>
          <p>Your, accounts  are highly secured</p>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
      x = 0;
      y=0;
      $(".next").click(function(){

        x = (x<=200)?(x +=100):0;
        console.log(x);
        $(".product-slide-wrapper").css("left",-x+"%");
      })
      $(".prev").click(function(){

        x = (x>=100)?(x -=100):300;
        console.log(x);
        $(".product-slide-wrapper").css("left",-x+"%");
      })
    })

    $(window).scroll(function(){
  var scroll = $(window).scrollTop();
  if(scroll > 10){
    $(".social-icons").css("visibility", "hidden");
    $(".social-icons").css("opacity", "0");
    $(".first-nav").css("top", "0");
    $(".side-bar").css("top", "6rem");
    //$(".social-icons").css("display", "none");

  }
  else{
    $(".social-icons").css("visibility", "visible");
    $(".social-icons").css("opacity", "1");
    $(".first-nav").css("top", "41px");
    $(".side-bar").css("top", "10rem");
   //$(".social-icons").css("display", "flex");
  }
})

    </script>
  </body>
</html>
