<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
     <link rel="shortcut icon" href="/images/headlogo.png">
    <script src="https://kit.fontawesome.com/150475fcb8.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/home.css">
    <title>ShopOnline</title>
  </head>
  <body>
    <div class="top-nav">
      <input type="checkbox" class="checkbox" id="side-switch" name="" value="" hidden>
      <ul class="first-nav">
        <li>
          <label for="side-switch"><div class="hamburger">
          <div class="line line1"></div>
          <div class="line line2"></div>
          <div class="line line3"></div>
        </div></label></li>
        <li><div class="logo">
          <img src="/images/logo.png" alt="">
        </div></li>
        <li><div class="search">
          <input type="text" name="" class="inp" placeholder="Search Product & Brands" value="">
          <button type="button" name="button">&#128269; Search</button>
        </div></li>
        <li><div class="sign-in"> <i class="fas fa-user-shield"> </i> <h3>Hello, Admin</h3> </div>
          <div class="sign-menu">
            <ul class="sign-drop">
              <li class="sign-item">
                <a href="#" class="sign-links"><i class="far fa-user-circle" style="padding-right: 2rem;
    font-size: 2rem;"></i>Your Account</a>
              </li>
              <li class="sign-item">
                <a href="#" class="sign-links"><i class="fas fa-box-open" style="padding-right: 2rem;
    font-size: 2rem;"></i>Previous orders</a>
              </li>
              <li class="sign-item">
                <button type="button" name="button" class="sign-option">Sign-in</button>
              </li>
            </ul>

          </div>
        </li>
         <li><div class="cart"> <i class="fas fa-shopping-cart"></i> <h3> 0 items</h3> </div></li>
      </ul>
      <div class="side">
        <ul class="side-bar">
          <li class="side-cat"><div class="sign-in"> <i class="fas fa-user-shield"> </i> <h3>Hello, Admin</h3> </div>
            <div class="side-menu-bar">
              <ul class="mobile-items">
                <li class="mobile-list">
                  <a href="#" class="movile-links"><i class="far fa-user-circle" style="padding-right: 2rem;
      font-size: 2rem;"></i>Your Account</a>
                </li>
                <li class="mobile-list">
                  <a href="#" class="movile-links"><i class="fas fa-box-open" style="padding-right: 2rem;
      font-size: 2rem;"></i>Previous orders</a>
                </li>
                <li class="mobile-list">
                  <button type="button" name="button" class="sign-option">Sign-in</button>
                </li>
              </ul>

            </div>
          </li>
          <li class="side-cat"><a href="#" class="side-links h1">Mobiles</a>
            <div class="side-menu-bar">
              <ul class="mobile-items">
                <li class="mobile-liss">
                  <h2 href="#" class="movile-link">Top Featured Brands</h2>
                </li>
                <li class="mobile-list">
                  <a href="#" class="movile-links">Samsung</a>
                </li>
                <li class="mobile-list">
                  <a href="#" class="movile-links">Nokia</a>
                </li>
                <li class="mobile-list">
                  <a href="#" class="movile-links">iphone</a>
                </li>
                <li class="mobile-list">
                  <a href="#" class="movile-links">Redme</a>
                </li>
                <li class="mobile-list">
                  <a href="#" class="movile-links">Huawei</a>
                </li>
              </ul>
            </div>
          </li>
            <li class="side-cat"><a href="#" class="side-links h2">Laptop & computers</a>
              <div class="side-menu-bar">
                <ul class="mobile-items">
                  <li class="mobile-liss">
                    <h2 class="movile-link">Top Featured Brands</h2>
                  </li>
                  <li class="mobile-list">
                    <a href="#" class="movile-links">Dell</a>
                  </li>
                  <li class="mobile-list">
                    <a href="#" class="movile-links">HP</a>
                  </li>
                  <li class="mobile-list">
                    <a href="#" class="movile-links">Asus</a>
                  </li>
                  <li class="mobile-list">
                    <a href="#" class="movile-links">MicroSoft</a>
                  </li>
                  <li class="mobile-list">
                    <a href="#" class="movile-links">Lenova</a>
                  </li>
                  <li class="mobile-list">
                    <a href="#" class="movile-links">Redme</a>
                  </li>
                </ul>
              </div>
            </li>
              <li class="side-cat"><a href="#" class="side-links h3">Cameras</a>
                <div class="side-menu-bar">
                  <ul class="mobile-items">
                    <li class="mobile-liss">
                      <h2  class="movile-link">Top Featured Brands</h2>
                    </li>
                    <li class="mobile-list">
                      <a href="#" class="movile-links">canon</a>
                    </li>
                    <li class="mobile-list">
                      <a href="#" class="movile-links">nikon</a>
                    </li>
                    <li class="mobile-list">
                      <a href="#" class="movile-links">pentax</a>
                    </li>
                    <li class="mobile-list">
                      <a href="#" class="movile-links">sony</a>
                    </li>
                    <li class="mobile-list">
                      <a href="#" class="movile-links">olymbpus</a>
                    </li>
                    <li class="mobile-list">
                      <a href="#" class="movile-links">gopro</a>
                    </li>
                  </ul>
                </div>
              </li>
                <li class="side-cat"><a href="#" class="side-links h4">Gaming</a>
                  <div class="side-menu-bar">
                    <ul class="mobile-items">
                      <li class="mobile-liss">
                        <h2  class="movile-link">Top Featured Brands</h2>
                      </li>
                      <li class="mobile-list">
                        <a href="#" class="movile-links">Playstation</a>
                      </li>
                      <li class="mobile-list">
                        <a href="#" class="movile-links">gaming headset</a>
                      </li>
                      <li class="mobile-list">
                        <a href="#" class="movile-links">gear</a>
                      </li>
                      <li class="mobile-list">
                        <a href="#" class="movile-links">desktops</a>
                      </li>

                    </ul>
                  </div>
                </li>
        </ul>

      </div>

    </div>
    <section class="banner">
      <div class="slidshow">
        <!--<button class="slide-btn slide-btn-1" name="button"></button>
        <button class="slide-btn slide-btn-2" name="button"></button>
        <button class="slide-btn slide-btn-3" name="button"></button>
        <button class="slide-btn slide-btn-4" name="button"></button> -->
        <div class="slideshow-wrapper">
          <div class="slide">
            <img src="/images/ban.jpg" alt="">
          </div>
          <div class="slide">
            <img src="/images/ban1.jpg" alt="">
          </div>
          <div class="slide">
            <img src="/images/ban3.jpg" alt="">
          </div>
          <div class="slide">
            <img src="/images/ban4.jpg" alt="">
          </div>
        </div>
      </div>
    </section>

    <div class="container">
      <h1 class="common-heading">Top Featured mobiles</h1>
      <div class=""></div>
      <div class="wrapper">
        <div class="card">
          <img class="adjust" src="/images/samsung.png" alt="">
          <h1>samsung note 10</h1>
          <h2>RS: 72999(10% discount)</h2>
          <a href="#" class="shop">ShopNow <i class="fas fa-arrow-right"></i></a>
        </div>
        <div class="card center">
          <img src="/images/product.png" alt="">
          <h1>iphone 11</h1>
          <h2>RS: 74999(10% discount)</h2>
          <a href="#" class="shop">ShopNow <i class="fas fa-arrow-right"></i></a>

        </div>
        <div class="card">
          <img class="adjust" src="/images/redmi.jpg" alt="">
          <h1>Redmi note 9</h1>
          <h2>RS: 16,999(10% discount)</h2>
          <a href="#" class="shop">ShopNow <i class="fas fa-arrow-right"></i></a>
        </div>

      </div>


    </div>

  </body>
</html>
