<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/images/headlogo.png">
   <script src="https://kit.fontawesome.com/150475fcb8.js" crossorigin="anonymous"></script>
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Josefin Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Red+Rose:wght@300;400;700&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="/css/styles/default.css">
   <link rel="stylesheet" href="css/landing.css">
    <title>ZeroWatts</title>
  </head>
  <body>
    <input type="checkbox" class="checkbox-0" id="forsignup" name="" value="" hidden>
      <input type="checkbox" class="checkbox-1" id="forlogin" name="" value="" hidden>
    <div class="container">
      <div class="nav-wrapper">
        <nav>
          <div class="logo">
            <img src="/images/logo.png" alt="ZeroWatts">
          </div>
          <ul class="sign-ul">
            <label for="forlogin">
              <li class="login-list">
                <a class="login-link" style="cursor:pointer">Login</a>
              </li>
            </label>

            <label for="forsignup">
              <li class="login-list">
                <a  class="login-link" style="cursor:pointer">Signup</a>
              </li>
            </label>

          </ul>
        </nav>
        <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fff" fill-opacity="1" d="M0,64L21.8,101.3C43.6,139,87,213,131,213.3C174.5,213,218,139,262,117.3C305.5,96,349,128,393,154.7C436.4,181,480,203,524,192C567.3,181,611,139,655,149.3C698.2,160,742,224,785,229.3C829.1,235,873,181,916,149.3C960,117,1004,107,1047,117.3C1090.9,128,1135,160,1178,170.7C1221.8,181,1265,171,1309,170.7C1352.7,171,1396,181,1418,186.7L1440,192L1440,320L1418.2,320C1396.4,320,1353,320,1309,320C1265.5,320,1222,320,1178,320C1134.5,320,1091,320,1047,320C1003.6,320,960,320,916,320C872.7,320,829,320,785,320C741.8,320,698,320,655,320C610.9,320,567,320,524,320C480,320,436,320,393,320C349.1,320,305,320,262,320C218.2,320,175,320,131,320C87.3,320,44,320,22,320L0,320Z"></path></svg> -->
      </div>

      <div class="main-wrapper">
        <div class="contents">
          <h1 class="content-heading">For Blooming Coders...</h1>
          <p class="life">Life: Code Run Debug Deploy.</p>
          <div class="align">
            <p class="content-paragraph"><span>S</span>tart to code today like a new baby entering into the earth.</p>
             <p class="content-paragraph"><span>R</span>un the code like the child running towards victory.</p>
             <P class="content-paragraph"><span>D</span>ebug the code like an adult learning from failure.
               <p class="content-paragraph"><span>D</span>eploy your code like the succeeded human.</p>
            </p>
          </div>
          <a href="#" class="startnow">StartToCode</a>
        </div>
        <div class="wrp">
            <img src="/images/svg.png" alt="">
            <div class="editor">

              <div class="top">
                <div class="circle-wrapper">
                  <div class="circle c1"></div>
                  <div class="circle c2"></div>
                  <div class="circle c3"></div>
                </div>
                <button class="exit"><i class="fas fa-times"></i></button>
              </div>
              <div class="test-1"></div>
              <div class="test-2"></div>
              <div class="test-3"></div>
              <div class="test-4"></div>
              <div class="test-5"></div>
              <div class="test-6">
                <h1 class="result" style="text-align:center; color:#fff">Result</h1>
                <h1 class="compile">Compiling...</h1>
                <div class="wrap">
                  <div class="test-7"></div>
                  <i class="fas fa-check-circle test-7-i"></i>
                </div>
                <div class="wrap">
                  <div class="test-7"></div>
                    <i class="fas fa-check-circle test-7-i"></i>

                </div>
                <div class="wrap">
                  <div class="test-8"></div>
                    <i class="fas fa-times-circle test-8-i"></i>

                </div>


              </div>


              <!--<h1 class="element" style="color:white; padding:2rem"></h1>-->
            </div>
        </div>

      </div>
    </div>

    <div class="sign-up-form">
      <label for="forsignup">
        <h1 style="float:right; margin-top:0;cursor:pointer">&#10008;</h1>
      </label>

        <h1 class="common-heading">Sign Up</h1>
        <div class="sign-up-method">
          <a href="#" class="sign-links fc">
            <i class="fab fa-facebook"></i> signup with Facebook
          </a>
          <a href="#" class="sign-links gc">
            <i class="fab fa-google"></i> Signup with Google
          </a>
          <h1 class="common-heading">Or</h1>
          <form class="" action="index.html" method="post">
            <div class="name-wrapper">
              <input type="text" name="" value="" placeholder="firstname" class="nameinp">
                <input type="text" name="" value="" placeholder="lastname" class="nameinp">
            </div>
            <div class="other-wrapper">
              <input type="text" name="" value="" placeholder="Email" class="otherinp">
              <input type="text" name="" value="" placeholder="Password" class="otherinp">
            </div>
            <button type="button" name="button" class="signup-btn">Learn Now</button>
          </form>
        </div>
    </div>

    <div class="log-in-form">
      <label for="forlogin">
        <h1 style="float:right; margin-top:0; cursor:pointer">&#10008;</h1>
      </label>
        <h1 class="common-heading">Login</h1>
        <div class="sign-up-method">
          <a href="#" class="sign-links fc">
            <i class="fab fa-facebook"></i> Login with Facebook
          </a>
          <a href="#" class="sign-links gc">
            <i class="fab fa-google"></i> Login with Google
          </a>
          <h1 class="common-heading">Or</h1>
          <form class="" action="index.html" method="post">

            <div class="other-wrapper">
              <input type="text" name="" value="" placeholder="Username or Email" class="otherinp">
              <input type="text" name="" value="" placeholder="Password" class="otherinp">
            </div>
            <button type="button" name="button" class="signup-btn">Learn Now</button>
          </form>
        </div>
    </div>



























  <!--  <input type="checkbox" class="checkbox-0"  id="switch-check" value="" hidden>

        <div class="banner-txt">
          <h1>Welcome to GamerZone</h1>
          <p>Place where you get a trusted Gaming</p>
          <label for="switch-check">
          <a class="signup">Explore</a>
          </label>

        </div>
        <div class="login-sign-form">
          <label for="switch-check"><a  class="close">&#10008;</a></label>

          <input type="checkbox" class="checkbox-2" id="toogle-class" hidden>

              <label for="toogle-class" class="login-sign-switch-form">

                <h3 class="sign-toogle">Sign-up</h3>
                <h3 class="login-toogle">Login</h3>

              </label>


            <form class="signup-form" action="index.html" method="post">
              <div class="clm">
                <label class="form-label">FullName</label>
                <input type="text" name="" placeholder="Fullname" value="" class="form-inp">
              </div>
              <div class="clm">
                <label class="form-label">Email</label>
                <input type="text" name="" placeholder="Email" value="" class="form-inp">
              </div>
              <div class="clm">
                <label class="form-label">Password</label>
                <input type="text" name="" placeholder="Password" value="" class="form-inp">
              </div>
              <div class="btns">
                <button type="button" name="button" class="signup-btn">Sign-up</button>
                <h2>OR</h2>
                <a href="#" class="google"><i class="fab fa-google"></i> Sign-in with-google</a>
              </div>
            </form>
            <form class="login-form" action="index.html" method="post">

              <div class="clm">
                <label class="form-label">Email</label>
                <input type="text" name="" placeholder="Email" value="" class="form-inp">
              </div>
              <div class="clm">
                <label class="form-label">Password</label>
                <input type="text" name="" placeholder="Password" value="" class="form-inp">
              </div>
              <div class="btns">
                <button type="button" name="button" class="signup-btn">Login</button>
                <h2>OR</h2>
                <a href="#" class="google"><i class="fab fa-google"></i> Sign-in with-google</a>
              </div>
            </form>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 318"><path fill="crimson" fill-opacity="1" d="M0,32L36.9,128L73.8,64L110.8,256L147.7,64L184.6,160L221.5,64L258.5,0L295.4,224L332.3,288L369.2,224L406.2,192L443.1,128L480,96L516.9,288L553.8,224L590.8,288L627.7,256L664.6,128L701.5,0L738.5,256L775.4,64L812.3,288L849.2,128L886.2,128L923.1,320L960,224L996.9,320L1033.8,160L1070.8,192L1107.7,224L1144.6,64L1181.5,320L1218.5,192L1255.4,224L1292.3,288L1329.2,256L1366.2,32L1403.1,0L1440,64L1440,320L1403.1,320L1366.2,320L1329.2,320L1292.3,320L1255.4,320L1218.5,320L1181.5,320L1144.6,320L1107.7,320L1070.8,320L1033.8,320L996.9,320L960,320L923.1,320L886.2,320L849.2,320L812.3,320L775.4,320L738.5,320L701.5,320L664.6,320L627.7,320L590.8,320L553.8,320L516.9,320L480,320L443.1,320L406.2,320L369.2,320L332.3,320L295.4,320L258.5,320L221.5,320L184.6,320L147.7,320L110.8,320L73.8,320L36.9,320L0,320Z"></path></svg>
          </div>-->
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
  <script src="/js/highlight.pack.js" charset="utf-8"></script>
  <script src="/js/typed.min.js" charset="utf-8"></script>

  <script type="text/javascript">

  var typed = new Typed('.element', {
strings: ['<span style="color:lightgreen">import</span> fileinput <br><br> <span style="color:pink">def</span> <span style="color:skyblue">factorial(<span style="color:white">"num"</span>)</span>: <br><br>-------------<br><br>-----------<br><br>----------<br><br><span style="color:skyblue">print(<span style="color:#fff">factorial(fileLineinput)</span>)</span>'],
loop:true,
typeSpeed: 80,
backSpeed: 20
});
hljs.initHighlightingOnLoad()
  </script>
</html>
