html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	overflow-x: hidden;
	background-color: #010a17;
}

.container {
	width: 100%;
	height: auto;
	display: flex;
	position: relative;
	top: 7rem;
}

.content-area {
	width: 40%;
	height: auto;
}

.code-area {
	width: 60%;
	height: auto;
}

.heading-expl {
	width: 100%;
	background-color: #022135;
	display: none;
	color: #fff;
	transform: perspective(800px) translateZ(-50px);
	box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
	padding: 2rem;
	margin: 2rem 1rem;
	height: 65vh;
	position: relative;
	top: 5.8rem;
	overflow: auto;
}

.common-heading {
	font-family: "Josefin sans", sans-serif;
	font-size: 2.5rem;
	font-weight: bolder;
	background: linear-gradient(to right, #9525CD, #0DC6FF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.heading-expl p {
	font-size: 1.6rem;
	line-height: 3rem;
}

.active {
	display: block;
}

.inner-tabs {
	transform: perspective(800px) translateZ(-50px);
	background-color: #022135;
	padding: 2rem;
	margin: 2rem 1rem 0rem 1rem;
	display: none;
	justify-content: space-between;
	position: relative;
	top: 3.5rem;
	box-shadow: 0 -2px 10px rgba(0, 0, 0, 1)
}

.inner-tabs a {
	font-size: 1.6rem;
	font-weight: bolder;
	text-decoration: none;
	color: white;
	padding: 1rem 1rem 1rem 1rem;
}

.example p {
	font-size: 1.5rem;
	line-height: 3rem;
}

.i-o {
	background-color: #022135;
	color: white;
	transform: perspective(800px) translateZ(-50px);
	box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
	padding: 2rem;
	margin: 2rem 1rem;
	width: 100%;
	position: relative;
	top: 5rem;
}

.i-o p {
	font-size: 1.5rem;
	line-height: 3rem;
}

.learn {
	position: relative;
	left: 40%;
	padding: 1rem;
	font-size: 1.5rem;
	border: 2px solid #9525CD;
	color: #9525CD;
	background-color: transparent;
	outline: none;
	cursor: pointer;
	border-radius: 10rem;
}

.slection {
	display: flex;
	justify-content: flex-end;
	margin: 2rem 0 2rem 5rem;
}

.themeselect:focus,
.lanselect:focus,
.font:focus {
	outline: none;
	border: none;
}

.lanselect option {
	font-size: 1.7rem;
	border: 1px solid white;
}

.themeselect,
.lanselect,
.font {
	background-color: #022135;
	color: white;
	font-size: 1.5rem;
	border: none;
	font-weight: bolder;
	width: 12rem;
	padding: 1rem;
	margin-right: 2rem;
}

.edit {
	background: url(http://i.imgur.com/2cOaJ.png);
	background-attachment: local;
	background-repeat: no-repeat;
	transform: perspective(800px) translateZ(-50px);
	padding-left: 35px;
	padding-top: 10px;
	background-color: #022135;
	box-shadow: 5px 5px 5px 5px #010a17;
	color: white;
	width: 80%;
	height: 80vh;
	margin: 2rem 0 2rem 5rem;
	border: none;
	outline: none;
	resize: none;
	font-size: 2rem;
}

.result-box {
	transform: perspective(800px) translateZ(-50px);
	background-color: #022135;
	box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
	color: white;
	height: 50vh;
	margin: 2rem 0 2rem 5rem;
	overflow: auto;
}

#editor {
	transform: perspective(800px) translateZ(-50px);
	box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
	font-size: 18px;
	height: 70vh;
	margin: 2rem 0 2rem 5rem;
}

.btn-wrapper {
	margin: 0rem 6rem 0rem 7rem;
	display: flex;
	justify-content: flex-end;
}

.btn {
	width: 10rem;
	padding: 1rem;
	font-size: 1.5rem;
	border: 2px solid #9525CD;
	color: #9525CD;
	background-color: transparent;
	outline: none;
	cursor: pointer;
}

.mr {
	margin-right: 3rem;
}

.op-error {
	padding: 2rem;
}

.op-error p {
	font-size: 2rem;
	padding: 1rem;
}

.clr {
	background-color: #010a17;
}

.mess {
	float: right;
}

.gr {
	color: green;
}

.re {
	color: red;
}

#default-clr {
	background-color: rgba(128, 128, 0, .3);
	border: 1px solid rgb(128, 128, 0);
}
