html{
font-size: 62.5%;
box-sizing: border-box;
}
body{
margin: 0;
padding: 0;
font-family: "Montserrat", sans-serif;
overflow-x: hidden;

}
.container{
  width:100%;
  display: flex;
}
.inner-left{
  width: 50%;
  height: auto;
  border:2px solid #333;

}
.inner-right{
  width:50%;
  height: auto;
  border:2px solid #333;
}
.padding{
  padding:2rem;
}
.padding p{
  font-size: 1.8rem;
}
code{
  font-size: 1.8rem;
}
.common-heading{
  font-size:2.5rem;

  text-transform: uppercase;
  font-family: "Josefin sans",sans-serif;
}

textarea{
  background: url(http://i.imgur.com/2cOaJ.png);
 background-attachment: local;
 background-repeat: no-repeat;
 padding-left: 35px;
 padding-top: 10px;
     border-color:black;
     width: 90%;
     margin: 3rem 2rem 0 2rem;
     resize: none;
     font-size: 2rem;
     outline: none;
}

.io{
  width: 95%;
  height: 40vh;
  margin: 3rem 2rem 2rem 2rem;
  border:2px solid #333;
  overflow: auto;

}
.input,
.exp-op,
.your-op{
  padding:2rem;
}
.input h1,
.exp-op h1,
.your-op h1{
  font-family: "Josefin sans",sans-serif;
  font-size: 2rem;
}
.input h3,
.exp-op h3,
.your-op h3{
  font-size: 1.5rem;
}


















.area-cover{
  width: 50%;
  margin: 3rem auto;
  background-color: dimgray;
  box-shadow: 0 3rem 6rem rgba(0,0,0,0.6);
}
.area-cover textarea{
  resize: none;

  border:none;
  font-size: 2rem;
  outline: none;
  width: 100%;
  margin:1rem 2rem 2rem 2rem;

}
.top-wrapper{
  display: flex;
  justify-content: space-between;
}
.circles{
  width: 2rem;
  height: 2rem;
  background-color: red;
  border-radius: 50%;

}
.circle{
  display: flex;
  justify-content: space-between;
  width: 100px;
  padding: 1rem 0 1rem 1rem;

}
.c1{
  background-color: lightblue;
}
.c2{
  background-color: lightgreen;
}
.c3{
  background-color: lightpink;
}
.lanselect{
  width: 10rem;
  outline:none;
  margin: .5rem 1rem 0 0;
  float: right;
  padding: .5rem;
}

.submit-btn{
  width: 10rem;
  position: relative;
  left:48%;
  top:0rem;
  padding:1rem;
  text-decoration: none;
  font-size: 1.6rem;
  outline: none;
  border-radius: 10rem;
  color: white;
  background-color: crimson;
  transition: all 1s;
}
form{

}
