html{
font-size: 62.5%;
box-sizing: border-box;
}
body{
margin: 0;
padding: 0;
font-family: "Montserrat", sans-serif;
overflow-x: hidden;
background-color: #010a17;
}

.container{
  width:100%;
  height: auto;
  display: flex;
  position: relative;
  top:7rem;

}
.content-area{

  width: 40%;
  height: auto;

}
.code-area{

  width: 60%;
  height: auto;
}
.heading-expl{
  width: 100%;
  background-color: #022135;
display: none;
color: #fff;
  transform:perspective(800px) translateZ(-50px);
    box-shadow:0 -2px 10px rgba(0, 0, 0, 1);
  padding:2rem;
  margin: 2rem 1rem;
  height: 65vh;
  position: relative;
  top: 5.8rem;
  overflow: auto;
}
.common-heading{
  font-family: "Josefin sans",sans-serif;
  font-size: 2.5rem;
  font-weight: bolder;
  background:linear-gradient(to right, #9525CD,#0DC6FF);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.heading-expl p{
  font-size: 1.6rem;
  line-height: 3rem;
}
.active{
  display: block;
}

.inner-tabs{
  transform:perspective(800px) translateZ(-50px);
  background-color: #022135;
  padding:2rem;
  margin: 2rem 1rem 0rem 1rem;
  display: none;
  justify-content: space-between;
  position: relative;
  top: 3.5rem;
  box-shadow:0 -2px 10px rgba(0, 0, 0, 1)
}
.inner-tabs a{
  font-size: 1.6rem;
  font-weight: bolder;
  text-decoration: none;
  color: white;
  padding:1rem 1rem 1rem 1rem;

}

.example p{
  font-size: 1.5rem;
  line-height: 3rem;
}
.i-o{
    background-color: #022135;
    color: white;
  transform:perspective(800px) translateZ(-50px);
    box-shadow:0 -2px 10px rgba(0, 0, 0, 1);
  padding:2rem;
  margin: 2rem 1rem;
  width: 100%;
  position: relative;
  top: 5rem;
}
.i-o p{
  font-size: 1.5rem;
  line-height: 3rem;
}
.learn{
  position: relative;
  left: 40%;
  padding: 1rem;
  font-size: 1.5rem;
  border: 2px solid #9525CD;
  color: #9525CD;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border-radius: 10rem;
}
.slection{
  display: flex;
  justify-content: flex-end;

  margin:2rem 0 2rem 5rem;

}

.themeselect:focus,
.lanselect:focus,
.font:focus{
  outline:none;
  border: none;
}
.lanselect option:{
  font-size: 1.7rem;
  border:1px solid white;
}
.themeselect,
.lanselect,
.font{
  background-color: #022135;
  color: white;
  font-size: 1.5rem;
  border:none;
  font-weight: bolder;
  width: 12rem;
  padding: 1rem;
  margin-right: 2rem;
}
.edit{
  background: url(http://i.imgur.com/2cOaJ.png);
 background-attachment: local;
 background-repeat: no-repeat;
  transform:perspective(800px) translateZ(-50px);
  padding-left: 35px;
  padding-top: 10px;
  background-color: #022135;
box-shadow: 5px 5px 5px 5px #010a17;
color: white;
  width: 80%;
  height: 80vh;
  margin:2rem 0 2rem 5rem;
  border:none;
  outline: none;
  resize: none;
  font-size: 2rem;
}
.edit::-webkit-scrollbar{
  width:10px;


}
.edit::-webkit-scrollbar-thumb{
   background: linear-gradient(45deg,#667eea ,#764ba2);
   border-top-left-radius:10px;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;

}

.result-box{

  transform:perspective(800px) translateZ(-50px);
  background-color: #022135;
    box-shadow:0 -2px 10px rgba(0, 0, 0, 1);
  color: white;

height: 50vh;
margin:2rem 0 2rem 5rem;
overflow: auto;
}
#editor{
  transform:perspective(800px) translateZ(-50px);

    box-shadow:0 -2px 10px rgba(0, 0, 0, 1);
font-size: 18px;

height: 70vh;
margin:2rem 0 2rem 5rem;

}
.btn-wrapper{


  margin:0rem 6rem 0rem 7rem;
  display: flex;
  justify-content: flex-end;
}
.btn{
  width: 10rem;
  padding: 1rem;
  font-size: 1.5rem;
  border: 2px solid #9525CD;
  color: #9525CD;
  background-color: transparent;
  outline: none;
  cursor: pointer;

}
.mr{
    margin-right: 3rem;
}
.op-error{
  padding:2rem;
}
.op-error p{
  font-size: 2rem;
  padding:1rem;
}
.clr{

  background-color: #010a17;
}
.mess{
  float:right;
}
.gr{
  color: green;
}
.re{
  color:red;
}
#default-clr{
  background-color: rgba(128,128,0,.3);
  border: 1px solid rgb(128,128,0);
}
.custom-clr-c{
  background-color: rgba(0,128,0,.2);
    border: 1px solid rgb(0,128,0);
}
.custom-clr-w{
  background-color: rgba(128,0,0,.3);
    border: 1px solid rgb(128,0,0);
}
/*.clr{
  background-color: lightgreen;
  border-radius: 10rem;
  padding-left: 1rem;
}
.clr-t{
  background-color: crimson;
  border-radius: 10rem;
  padding-left: 1rem;
}
.container{
  width:100%;
  display: flex;
}
.inner-left{
  width: 50%;
  height: auto;
  border:2px solid #333;

}
.inner-right{
  width:50%;
  height: auto;
  border:2px solid #333;
}
.padding{
  padding:2rem;
}
.padding p{
  font-size: 1.8rem;
}
code{
  font-size: 1.8rem;
}
.common-heading{
  font-size:2.5rem;

  text-transform: uppercase;
  font-family: "Josefin sans",sans-serif;
}

textarea{
  background: url(http://i.imgur.com/2cOaJ.png);
 background-attachment: local;
 background-repeat: no-repeat;
 padding-left: 35px;
 padding-top: 10px;
     border-color:black;
     width: 90%;
     margin: 3rem 2rem 0 2rem;
     resize: none;
     font-size: 2rem;
     outline: none;
}

.io{
  width: 95%;
  height: 40vh;
  margin: 3rem 2rem 2rem 2rem;
  border:2px solid #333;
  overflow: auto;

}
.input,
.exp-op,
.your-op{
  padding:2rem;
}
.input h1,
.exp-op h1,
.your-op h1{
  font-family: "Josefin sans",sans-serif;
  font-size: 2rem;
}
.input h3,
.exp-op h3,
.your-op h3{
  font-size: 1.5rem;
}


















.area-cover{
  width: 50%;
  margin: 3rem auto;
  background-color: dimgray;
  box-shadow: 0 3rem 6rem rgba(0,0,0,0.6);
}
.area-cover textarea{
  resize: none;

  border:none;
  font-size: 2rem;
  outline: none;
  width: 100%;
  margin:1rem 2rem 2rem 2rem;

}
.top-wrapper{
  display: flex;
  justify-content: space-between;
}
.circles{
  width: 2rem;
  height: 2rem;
  background-color: red;
  border-radius: 50%;

}
.circle{
  display: flex;
  justify-content: space-between;
  width: 100px;
  padding: 1rem 0 1rem 1rem;

}
.c1{
  background-color: lightblue;
}
.c2{
  background-color: lightgreen;
}
.c3{
  background-color: lightpink;
}
.lanselect{
  width: 10rem;
  outline:none;
  margin: .5rem 1rem 0 0;
  float: right;
  padding: .5rem;
}

.submit-btn{
  width: 10rem;
  position: relative;
  left:48%;
  top:0rem;
  padding:1rem;
  text-decoration: none;
  font-size: 1.6rem;
  outline: none;
  border-radius: 10rem;
  color: white;
  background-color: crimson;
  transition: all 1s;
}
form{

}
*/
