body{
  margin:0;
  padding:0;
   font-family: "Montserrat", sans-serif;
   background-color: #DCDCDC;
}
html{
  font-size: 62.5%;
  box-sizing: border-box;
}
::-webkit-scrollbar{
  width:10px;


}
::-webkit-scrollbar-thumb{
   background-color:crimson ;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;

}
.container{
  width:100%;

}
.social-icons{
  display: flex;
  transition: 0.3s linear;
  margin:0;
  padding:0;
  background-color: #e40046 !important;
}
.social-list{
  list-style: none;
  padding-right: 3rem;
  margin-top: 3px;
}
.social-links{
  color:white;
  font-size: 2rem;
  margin-top: 2px;
}
.social-links img{
  width: 30px;
color: white;
background-color: white;
border-radius: 50%;
margin-top: 2px;
}
.flex{
  display: flex;
  flex:1;
}
h5{
  margin:.5rem 0 0 0;
  color: white;
  padding-left:.5rem;
  font-size: 2rem;

  font-family: "Josefin snas",sans-serif;
}
.first-nav{
  background-color: #333;
  margin-top: 0;
  position:fixed;
  width: 100%;
  z-index:10;
  transition: 0.4s linear;
}
.first-nav-list{
  display: flex;
  padding:1rem 0;
  margin-top: 0;
  display: flex;
  justify-content: space-around;
}
.first-list{
  list-style: none;
}
.first-link{
  text-decoration: none;
  color: white;
  font-family: "Josefin sans",sans-serif;
  font-size: 1.6rem;
  display: block;
  margin-top:10px;

}
.line{
  width: 2.5rem;
  height: .2rem;
  background: white;
  margin-bottom: 1rem;
  cursor:pointer;
}
.line1, .line3{
  width: 1.8rem;
  transition: all 0.4s;
}
.hamburger{

  position: relative;
  margin-top: 10px;
  z-index:1;

}
.search-inp{
  width: 40rem;
  padding:.8rem;
  border-radius: 10rem;
  outline: none;
}
.search-inp:focus{
  border-color: crimson;
}
.search-btn{
  position: relative;
  width:10rem;
  padding:.8rem;
  border-radius: 10rem;
left:-10.5rem;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    left:-10.5rem;
    background-color:crimson;
    color:white;
}
.side-bar{
  width:30rem;
  height:100%;
  position: fixed;
  z-index: 2;
  background-color: #333;
  top:10rem;
  box-shadow: 0 3rem 6rem rgba(0,0,0,0.6);
  padding-left:0;
    left:-35rem;
      transition: left .8s cubic-bezier(1,0,0,1);
}
.side-list{
  list-style: none;
  padding: 0;
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom:1px solid white;
}
.side-items{
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
}
.mobile-list{
  list-style: none;
  padding: 0;
  height: 8.9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}
.movile-links{
  text-decoration: none;
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  font-family: "Josefin sans", sans-serif;
  font-weight:200;
}
.mobile-items{
  padding: 0;
}
.side-menu-bar{
  width:30rem;
  height:auto;


  position: fixed;
  z-index: 0;
  left:30rem;
  top:8.5rem;
  box-shadow: 0 3rem 6rem rgba(0,0,0,0.6);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  background-color: crimson;



}
.side-list:hover  .side-menu-bar{
  visibility: visible;
  opacity: 1;

}

.checkbox:checked ~ .side-bar {
  left:0;
}
.checkbox:checked ~ .first-nav  .hamburger {
left: -5rem;
}
.checkbox:checked ~ .first-nav  .hamburger .line1{
  transform: rotate(-405deg) translate(-6px,6px);
  width: 2.5rem;
}
.checkbox:checked ~ .first-nav .hamburger .line2{
  opacity: 0;
}
.checkbox:checked ~ .first-nav .hamburger .line3{
  transform: rotate(405deg) translate(-7px,-7px);
  width: 2.5rem;
}

.banner-slide{
  width: 100%;
  height:40%;
  position: relative;
  bottom: 1rem;
  z-index: 0;
  top: 7rem;
}
.banner-text{
  position: absolute;
  z-index:3;

left: 24%;
top: 20%;
}
.banner-text h1{
  color: white;
  text-transform: uppercase;
  font-size: 5rem;
  margin-bottom: 3rem;

}
.banner-text p{
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-top:0;
}
.banner-text a{
  position: relative;
  text-decoration: none;
  font-size: 1.8rem;
  border-radius: 10rem;
  padding:2rem;
  background-color: crimson;
  color:white;
  position: relative;
  left: 30rem;
    top: 3rem;
  transition: all 3s;
}
.slidshow{


  height:100%;


  overflow-x: hidden;
}
.slideshow-wrapper{
  width: 400%;
  height:100%;
  position: relative;
  display: flex;
  /*transition: left .8s cubic-bezier(1,0,0,1);*/
 animation: slideanime 20s infinite;
}
.slide img{
  width:100%;
  height: 100%;
  object-fit: cover;
}
.slide{
  height: 100%;
}
@keyframes slideanime {
  0%{left:0}
  10%{left:0}
  15%{left:-100%}
  25%{left:-100%}
  30%{left:-200%}
  40%{left:-200%}
  45%{left:-300%}
  55%{left:-300%}
  60%{left:-200%}
  70%{left:-200%}
  75%{left:-100%}
  85%{left:-100%}
  90%{left:0}
}
.top-three{
  position: relative;
  top:10rem;
}
.common-heading{
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-family: "Josefin sans",sans-serif;
  letter-spacing: .1rem;

}
.card-wrapper{
  width: 100%;
  height: auto;

  justify-content: space-evenly;
  /*justify-content: space-around;*/
  display: flex;
  flex-direction:row;
  position: relative;
  margin-top: 10rem;
}
.card{
  height: 100%;

  width:30rem;
  height:40rem;
  margin-top: 10rem;
  margin-bottom: 2rem;
  box-shadow: 0 3rem 6rem rgba(0,0,0,0.6);
  border-radius: 5rem;
  transition: all 1s;
  cursor: pointer;
  background-color: white;
}
.card img{
  width:200px;
  text-align: center;
  padding-left:5rem;
}
.card h2{
  text-align: center;
}
.card h1{
  text-align: center;
  text-transform: uppercase;
}

.shop{

  padding:1rem;
  text-decoration: none;
  font-size: 1.6rem;
  position: relative;
  left:10rem;
  top:3rem;
  border-radius: 10rem;
  color: white;
  background-color: crimson;
  transition: all 1s;
}
.shop:hover{
  letter-spacing: .2rem;
}
.card:hover{
  background-color: crimson;
}
.card:hover >  h1 {
  color: white;
}
.card:hover > h2{
  color:white;
}
.card:hover > a{
  color:white;
  background-color: #333;

}
.center{
 transform: scale(1.1);
}
.adjust{
  margin-top: 3rem;
}

.detials{
  margin-top: 10rem;
display: flex;

}
.small-card{
  width: 40rem;
  height: 20rem;
  border-right:2px solid lightgray;
  margin-bottom: 6rem;
  text-align: center;
  background-color: white;
}
.small-card h2{
  font-size: 1.7rem;
}
.small-card p{
  font-size: 1.5rem;
}
.last{
  border:none;
}
.product-slide{
  width:90%;
  margin: 10rem; auto 5rem auto;
    height:100%;

    overflow:hidden;
}
.product-slide-wrapper{
  width:400%;
  height: 100%;
  position: relative;
transition: all .2s linear;
background-color: white;
}
.product{
  display: flex;

}
.product-card{
  width:25rem;
  height:40rem;

  padding-left:5rem;
  transition: all .2s linear;
}
.product-card img{
  width: 200px;
}
.product-card h1{
  margin-top: 2rem;
  text-transform: uppercase;
}
.product-card h2{

}
.shop-now{
  padding:1rem;
  text-decoration: none;
  font-size: 1.6rem;
  position: relative;
  left:4rem;
  top:3rem;
  border-radius: 10rem;
  color: white;
  background-color: crimson;
  transition: all 1s;
}
.product-card:hover{
  border:1px solid white;

  box-shadow: 0 3rem 6rem rgba(0,0,0,0.6);
}
.shop-now:hover{
  background-color: #333;
  letter-spacing: .2rem;
}
.next{
  position: relative;
    top: 25rem;
    left:96.5%;
    z-index: 1;

    border-radius: 5rem;
    padding: 1.5rem;
    cursor: pointer;
    outline: none;
    background-color: white;
    color:#333;
    border:.5px solid;
}
.next:hover{
  background-color: #333;
  color:white;
}
.prev{
  position: relative;
    top: 25rem;
    right:4.2rem;
    z-index: 1;

    border-radius: 5rem;
    padding: 1.5rem;
    cursor: pointer;
    outline: none;
    background-color: white;
    color:#333;
    border:.5px solid;
}
.prev:hover{
  background-color: #333;
  color:white;
}
.offer-banner{
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
  margin-top: 5rem;
}
.banners{
  width: 40%;
  height: 300px;
  border-radius: 5rem;
  box-shadow: 0 3rem 6rem rgba(0,0,0,0.6);
}
.more{
  text-decoration: none;
  font-size: 1.8rem;
  border-radius: 10rem;
  padding:2rem;
  background-color: crimson;
  color:white;
  position: relative;
  left:73rem;
  transition: all 1s;
}
.view-more{
  margin:8rem 0 3rem 0;
}
.more:hover{
  background-color: #333;
  letter-spacing: .2rem;
}

@media(max-width:1170px){
  .checkbox:checked ~ .first-nav  .hamburger {
  left: -2rem;
  }
}
@media(max-width:930px){
  .search-inp{
    width:30rem;
  }
}
@media(max-width:790px){
  .search-inp{
    width:20rem;
  }
  .checkbox:checked ~ .first-nav  .hamburger {
  left: 0rem;
  }
}
