
html{
font-size: 62.5%;
box-sizing: border-box;
}
body{
margin: 0;
padding: 0;
font-family: "Montserrat", sans-serif;

overflow-x: hidden;
}
.logo{

}
.logo img{
  width: 150px;
  position: relative;
  bottom: 3rem;

}
.first-nav{
  display: flex;
  margin:0;
  background-color: crimson;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  height: 85px;
    z-index: 3
}
.first-nav li{
  list-style: none;
}
.search{
  margin-top: 2rem;
}
.search button{
  padding:1rem;
  font-size: 1.5rem;
  position: relative;
  top:.2rem;
  left:-9.4rem;
  background-color: #333;
  color:white;
  border-color: #333;
  cursor: pointer;
}
.search button:focus{
  outline: none;
  border-color: #333;
}
.line{
  width: 2.5rem;
  height: .2rem;
  background: white;
  margin-bottom: 1rem;
  cursor:pointer;
}
.line1, .line3{
  width: 1.8rem;
  transition: all 0.4s;
}
.hamburger{
  margin-top:3.5rem;
  position: relative;
  left:-8rem;

}
.inp{
  width: 60rem;
  padding: 1.2rem;

}
.inp:focus{
  outline: none;
}
.sign-in {
  font-size: 1.5rem;
  margin-top: 2rem;
  font-family: "Josefin sans", sans-serif;
  color: white;
  display: flex;
  height:65px;
  padding:0 1rem 0 1rem;
}
.sign-in i{
  margin-top: 1.6rem;
  padding-right: .5rem;
}
.cart{
  font-size: 1.5rem;
  margin-top: 2rem;
  font-family: "Josefin sans", sans-serif;
  color: white;
  display: flex;
}
.cart i{
  margin-top: 1.6rem;
  padding-right: .5rem;
}
.side{
  position:fixed;
  background-color: crimson;
  width: 30rem;
  height: 100%;
  top:8rem;
  left:-30rem;
  transition: left .8s cubic-bezier(1,0,0,1);
  z-index:3;
}
.side-cat{
  list-style: none;
  padding: 0;
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom:1px solid white;
}
.side-bar{
  position: relative;
  padding:0;
}

.side-links{
  text-decoration: none;
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  font-family: "Josefin sans", sans-serif;
  font-weight:200;
}

.checkbox:checked ~ .side {
  left:0;
}
.checkbox:checked ~ .first-nav .hamburger .line1{
  transform: rotate(-405deg) translate(-6px,6px);
  width: 2.5rem;
}
.checkbox:checked ~ .first-nav .hamburger .line2{
  opacity: 0;
}
.checkbox:checked ~ .first-nav .hamburger .line3{
  transform: rotate(405deg) translate(-7px,-7px);
  width: 2.5rem;
}

.side-menu-bar{
  width:30rem;
  height:auto;


  position: fixed;
  z-index: 0;
  left:30rem;
  top:8.5rem;
  box-shadow: 0 3rem 6rem rgba(0,0,0,0.6);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  background-color: crimson;


}
.mobile-list{
  list-style: none;
  padding: 0;
  height: 8.9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}
.movile-links{
  text-decoration: none;
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  font-family: "Josefin sans", sans-serif;
  font-weight:200;
}
.mobile-items{
  padding: 0;
}
.side-cat:hover  .side-menu-bar{
  visibility: visible;
  opacity: 1;

}
.sign-menu{
  width:25rem;
  position: absolute;
  background-color: #333;
  top:8.5rem;
  right:21.3rem;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.sign-item{
  list-style: none;
  padding: 0;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.sign-links{
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
  font-family: "Josefin sans", sans-serif;
  font-weight:400;
}
.first-nav li:hover  .sign-menu{
  visibility: visible;
  opacity: 1;
}
.first-nav li:hover .sign-in{
  background-color: #333;
}
.sign-option{
  padding: 1rem;
width: 10rem;
text-transform: uppercase;
color: white;
background-color: crimson;
border-radius: 10rem;
border: none;
cursor: pointer;
}
.sign-option:focus{
  outline: none;

}
.mobile-list:hover{
  background-color: #333;
}
.side-cat:hover{
  background-color: #333;
}
.movile-link{
  text-transform: uppercase;
  color: white;
  font-style: 2rem;
  text-align: center;
}
.mobile-liss{
  list-style: none;
}
.slideshow{

  height: 50%;
  overflow:hidden;
}
.slideshow-wrapper{
  display:flex;
  width: 400%;
  height: 50%;
  position: relative;
  animation: slideanime 20s infinite;
}
.slide{
  height: 50%;
}
.slide img{
  width: 100%;
  height:50%;
  object-fit: cover;
}
@keyframes slideanime {
  0%{left:0}
  10%{left:0}
  15%{left:-100%}
  25%{left:-100%}
  30%{left:-200%}
  40%{left:-200%}
  45%{left:-300%}
  55%{left:-300%}
  60%{left:-200%}
  70%{left:-200%}
  75%{left:-100%}
  85%{left:-100%}
  90%{left:0}
}
.container{
  height: 100%;
}
.card{
  height: 100%;

  width:30rem;
  height:40rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  box-shadow: 0 3rem 6rem rgba(0,0,0,0.6);
  border-radius: 5rem;
  transition: all 1s;
  cursor: pointer;
}
.wrapper{
  width: 100%;
  height: 100%;
  justify-content: space-around;
  display: flex;
  flex-direction:row;
  position: relative;
}
.common-heading{
  font-family: "Josefin sans",sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  color:#333;
  letter-spacing: .5rem;
  margin-top: 5rem;
  text-align: center;

}
.center{
 transform: scale(1.1);
}
.card img{
  width:200px;
  text-align: center;
  padding-left:5rem;
}
.card h2{
  text-align: center;
}
.card h1{
  text-align: center;
  text-transform: uppercase;
}
.shop{

  padding:1rem;
  text-decoration: none;
  font-size: 1.6rem;
  position: relative;
  left:10rem;
  top:3rem;
  border-radius: 10rem;
  color: white;
  background-color: crimson;
}
.card:hover{
  background-color: crimson;
}
.card:hover >  h1 {
  color: white;
}
.card:hover > h2{
  color:white;
}
.card:hover > a{
  color:white;
  background-color: #333;

}
.adjust{
  margin-top: 3rem;
}
