html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	overflow: hidden;
	/*  background: linear-gradient(to bottom, #fff 50%, #D8BFD8);*/
	height: 100%;
}

.container {
	width: 100%;
	height: auto;
}

nav {
	display: flex;
}

.logo {
	flex: 1;
	padding-left: 3rem;
}

.logo img {
	width: 140px;
}

.sign-ul {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}

.login-list {
	list-style: none;
}

.login-link {
	text-decoration: none;
	font-size: 2rem;
	margin-right: 5rem;
	padding: .5rem 2rem .5rem 2rem;
	color: #fff;
	font-family: "Josefin sans", sans-serif;
	font-weight: 400;
	border-radius: 10rem;
	background-color: #9525CD;
	transition: all .8s cubic-bezier(1, 0, 0, 1);
}

.login-link:hover {
	letter-spacing: .2rem;
}

.main-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-top: 5rem;
}

.contents {
	width: 50%;
	height: auto;
	padding: 2rem 2rem 2rem 3rem;
}

.content-heading {
	font-size: 5rem;
	font-family: "Concert One", cursive;
	font-weight: 400;
	background: linear-gradient(to right, #9525CD, #0DC6FF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.life {
	font-family: "Josefin sans", sans-serif;
	font-size: 1.7rem;
	margin-top: -2rem;
	;
}

.content-paragraph {
	font-family: "Josefin sans", sans-serif;
	font-size: 2rem;
	font-weight: 300;
	margin-bottom: 0;
	margin-top: 1rem;
	letter-spacing: .2rem;
}

.align {
	width: 100%;
	margin-bottom: 5rem;
}

.startnow {
	text-decoration: none;
	font-size: 2rem;
	padding: .5rem 2rem .5rem 2rem;
	color: #9525CD;
	font-family: "Josefin sans", sans-serif;
	font-weight: 400;
	border: 1px solid #9525CD;
	transition: all .8s cubic-bezier(1, 0, 0, 1);
}

.startnow:hover {
	background-color: #9525CD;
	color: #fff;
}

.wrp img {
	width: 90%;
	position: relative;
	top: -8rem;
}

.sign-up-form {
	width: 30%;
	margin: 10rem auto;
	height: auto;
	position: absolute;
	background: linear-gradient(to right, #9525CD, #0DC6FF);
	left: 35%;
	z-index: 2;
	top: -62rem;
	transition: all .8s cubic-bezier(1, 0, 0, 1);
}

.log-in-form {
	width: 30%;
	margin: 10rem auto;
	height: auto;
	position: absolute;
	background: linear-gradient(to right, #9525CD, #0DC6FF);
	left: 35%;
	z-index: 2;
	top: -62rem;
	transition: all .8s cubic-bezier(1, 0, 0, 1);
}

.common-heading {
	text-align: center;
	font-size: 2rem;
	font-family: "Josefin sans", sans-serif;
	padding-top: 1rem;
}

.sign-up-method {
	display: flex;
	flex-direction: column;
	padding: 2rem;
}

.sign-links {
	margin-bottom: 2rem;
	text-decoration: none;
	font-size: 1.8rem;
	font-family: "Josefin sans", sans-serif;
	border: 1px solid #333;
	text-align: center;
	padding: 1rem;
}

.fc {
	color: white;
	background-color: #3b5998;
	border-radius: 10rem;
	border: none;
}

.gc {
	color: black;
	border-radius: 10rem;
}

.name-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.other-wrapper {
	display: flex;
	flex-direction: column;
}

.nameinp {
	width: 40%;
	padding: 1rem;
	outline: none;
}

.otherinp {
	margin-bottom: 2rem;
	padding: 1rem;
	outline: none;
}

.signup-btn {
	position: relative;
	left: 40%;
	padding: 1rem;
	font-size: 1.8rem;
	border-radius: 10rem;
	color: white;
	font-size: 2rem;
	background-color: #9525CD;
	border: 1px solid #9525CD;
	;
	cursor: pointer;
	transition: all .2s;
	font-family: "Josefin sans", sans-serif;
	outline: none;
}

.signup-btn:hover {
	letter-spacing: .2rem;
}

.checkbox-0:checked~.container .sign-up-form {
	top: 0rem;
}

.checkbox-0:checked~.container .nav-wrapper {
	opacity: .3;
	pointer-events: none;
}

.checkbox-0:checked~.container .main-wrapper {
	opacity: .3;
	pointer-events: none;
}

.checkbox-1:checked~.container .log-in-form {
	top: 0rem;
}

.checkbox-1:checked~.container .nav-wrapper {
	opacity: .3;
	pointer-events: none;
}

.checkbox-1:checked~.container .main-wrapper {
	opacity: .3;
	pointer-events: none;
}
